<div class="wrapper">

    <nav id="sidebar" [ngClass]="sidebarCollapsed ? 'active' : ''">
        <div class="sidebar-header">
            <h3>Conversations</h3>
        </div>
        <ul class="list-unstyled components">
            <li *ngFor="let conversation of conversations">{{ conversation.name }}</li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <button type="button" id="sidebarCollapse" class="btn navbar-btn" (click)="sidebarCollapse()" [ngClass]="sidebarCollapsed ? 'active' : ''">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <div class="col">
                        {{ user.userName }}
                    </div>
                    <div class="col-1">
                        <a [routerLink]="['/login']">Logout</a>
                    </div>
                </div>
                <div class="col conversation">
                    <div class="row">
                        <div *ngFor="let address of selectedConversation.addressees" class="col">
                            {{ address.userName }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ selectedConversation.name }}
                        </div>
                    </div>
                    <div class="row messages">
                        <div *ngFor="let message of selectedMessages" class="row">
                            <div *ngIf="isCurrentUserOwnerOfMessage(message)" class="col"></div>
                            <div class="col">
                                <span>
                                    {{ message.owner.userName }}
                                </span>
                                {{ message.content }}
                            </div>
                            <div *ngIf="isCurrentUserOwnerOfMessage(message) === false" class="col"></div>
                        </div>
                    </div>
                    <div class="row new-message">
                        <div class="col">
                            new message
                        </div>
                        <div class="col-1">
                            send
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>