<div class="wrapper">

    <nav id="sidebar" [ngClass]="sidebarCollapsed ? 'active' : ''">
        <ul class="list-unstyled components">
            <li *ngFor="let conversation of conversations" (click)="switchConversation(conversation)"
                [className]="conversation.conversationId === selectedConversation.conversationId && 'active'">
                    <a>
                        {{ conversation.name }}
                        <span *ngIf="conversation.unread" class="badge badge-danger">New</span>
                    </a>
            </li>
            <li>
                <input type="text" class="form-control" placeholder="new" [(ngModel)]="newConversationName" (keydown.enter)="addNewConversation()">
            </li>
        </ul>
    </nav>

    <div id="content">

        <nav class="fixed-top navbar navbar-expand-lg navbar-light">
            <h3>PWA Messenger</h3>
            <div class="row">
                <div class="col-1">
                    <button type="button" id="sidebarCollapse" class="btn navbar-btn" (click)="sidebarCollapse()" [ngClass]="sidebarCollapsed ? 'active' : ''">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="col pd-t-7">
                    <span id="username">
                        {{ user.userName }}
                    </span>
                </div>
                <div class="col-1 pd-t-7">
                    <a [routerLink]="['/login']">Logout</a>
                </div>
            </div>
        </nav>

        <div class="conversation">
            <div class="row brd-btm-1-s-mc no-margin">
                <div class="col">
                    <span *ngFor="let address of selectedConversation.addressees" class="addressees badge badge-primary">
                        {{ address.userName }}
                    </span>
                </div>
                <div class="col-1 text-right">
                    <button type="button" class="btn btn-primary btn-sm add-addresse" (click)="openAddAddresseModal()">+</button>
                </div>
            </div>
            <div class="row messages no-margin">
                <div *ngFor="let message of selectedMessages" class="row no-margin">
                    <div *ngIf="isCurrentUserOwnerOfMessage(message)" class="col"></div>
                    <div class="col message" [className]="isCurrentUserOwnerOfMessage(message) ? 'col message my-message': 'col message'">
                        <span class="owner">
                            {{ message.owner.userName }}: 
                        </span>
                        {{ message.content }}
                        <p class="time">
                            {{ message.dateSent| date:'short' }}
                        </p>
                    </div>
                    <div *ngIf="isCurrentUserOwnerOfMessage(message) === false" class="col"></div>
                </div>
            </div>
            <div class="fixed-bottom row new-message no-margin">
                <div class="col">
                    <textarea [(ngModel)]="newMessage" name="newMessageInput"></textarea>
                </div>
                <div class="col-1 pd-bt-7">
                    <button type="button" class="btn send" (click)="send()">Send</button>
                </div>
            </div>
        </div>

    </div>

</div>

<app-add-addresse-modal id="add-addresse">
    <h4>Add addresse</h4>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">UserName:</label>
            <input type="newAddresseName" class="form-control" id="newAddresseName" placeholder="username"
                    (input)="onAddresseInputChange($event.target.value)">

            <div class="form-check" *ngFor="let suggested of suggestedAddresses">
                <input type="checkbox" class="form-check-input" [(checklist)]="suggested.selected" [checklistValue]="true">
                <label class="form-check-label" for="exampleCheck1">{{ suggested.userName }}</label>
            </div>

            <button class="btn btn-primary" (click)="addAddressesToSelectedConversation();">Add</button>
            <button class="btn btn-primary" (click)="closeAddAddresseModal();">Close</button>
        </div>
    </form>
</app-add-addresse-modal>