<div class="row userbar">
    <div class="col">
        user image
    </div>
    <div class="col">
        username
    </div>
    <div class="col">
        <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
</div>
<div class="row">
    <div class="col-3 conversations">
        <div class="row">
            <ul>
                <li *ngFor="let conversation of conversations">{{ conversation.name }}</li>
            </ul>
        </div>
        <div class="row">
            add
        </div>
    </div>
    <div class="col conversation">
        <div class="row">
            <div class="col users">
                user1, user2, ...
            </div>
            <div class="col-1">
                add user
            </div>
        </div>
        <div class="row">
            conversation name
        </div>
        <div class="row messages">
            message1,
            message2,
            ...
        </div>
        <div class="row new-message">
            <div class="col">
                new message
            </div>
            <div class="col-1">
                send
            </div>
        </div>
    </div>
</div>